venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyz
*.pywz

*.pt
*.safetensors
*.engine
*.onnx
*.pb
*.pbtxt
*.pbtxt.gz
*.pbtxt.gz.part
*.pbtxt.gz.part.1
*.pbtxt.gz.part.2
*.pbtxt.gz.part.3
*.pbtxt.gz.part.4
models/dino/*